
.login_form {
    border-radius: 24px;
    background: #D9D9D980;
}

.login_form a {
    text-decoration: none;
}

.submit__btn button{
    width: 688px;
    background: var(--secondary-color);
}

.login_form h4 {
    color: #000;
}